
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  :root {
    --bg:#1A202C;
  }
  html{
    background-color: var(--bg)
  }
  
  .App{
    display: grid;
    width: 100vw;
    height: 100vh;
    place-items: center;
  }
  
  .App > div {
    display: flex;
    align-items: center;
    gap:2rem;
  
    > h1{
      color:white;
      opacity: 0.75;
      font-size: 2.5rem;
      letter-spacing: 3px;
    }
    > button {
      background: rgb(130, 233, 247);
      color: rgb(1, 63, 71);
      font-size: 1.3rem;
      padding: 1rem 3rem;
      border-radius: 0.5rem;
      transition: all 200ms;
    }
    
  }
  button:active{
    scale: 0.95;
    opacity: 0.75;
  }
  .modal {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
   
  }
  .modal-content{
    width: 500px;
    height: 100vh;
    align-self: flex-end ;
    background: #fffa;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    overflow: hidden;
    padding: 1rem;
    padding-top: 0;
    transition:  all 300ms;
  }
  .modal-container{
    width: 100%;
    height: 100%;
  }
  .modal-container button::selection{
    background-color: transparent;
  }
  .notch {
    width: 100%;
    height: 1.2rem;
    display: grid;
    place-items: center;
    cursor: s-resize;
  
     > div {
      width: 60px;
      height: 5px;
      background: #0007;
      border-radius: 1rem;
     }
  }
  
  .modal-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
  
    >button {
      flex:1;
      border-radius: 0.5rem;
      padding-block: 0.75rem;
      border: none;
      background-color: var(--bg);
      color: white;
    }
  } 
  
  
  